<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			#onediv {
				display: flex;
				width: 100%;
				height: 220px;
				margin-top: 100px;
				background-color: black;
			}
			#divforcontent {
				display: inline-block;
				width: 60%;
				height: 400px;

				margin-left: 100px;
			}
			#divrelative {
				display: inline-block;
				width: 30%;
				height: 500px;
				background-color: white;
				position: relative;
			}
			#divforimg {
				width: 100%;
				height: 250px;
				background-color: green;
			}
			#addtocart {
				margin-top: 10px;
				width: 80%;
				margin-left: 20px;
				color: white;
				background-color: #a961f0;
				height: 50px;
			}
			#buynow {
				margin-top: 10px;
				width: 80%;
				margin-left: 20px;
				background-color: white;
				color: black;
				height: 50px;
			}
			.videos {
				margin-left: 50px;
			}
			#seconddiv {
				margin-left: 100px;
				height: 300px;
				width: 58%;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
				padding: 5px;
				margin-bottom: 30px;
				margin-top: 30px;
			}
			#divforcoursecontent {
				display: grid;
				border-top: 1px solid white;
				grid-template-columns: repeat(2, 400px);
			}
			#topcompines {
				margin-left: 100px;
				height: 100px;
				width: 58%;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
				padding: 5px;
			}
			.colorforcon {
				color: white;
			}
		</style>
	</head>
	<body>
		<div id="onediv">
			<div id="divforcontent">
				<div>
					<h1 class="colorforcon">
						The Complete JavaScript Course 2022: From Zero to Expert!
					</h1>
					<h3 class="colorforcon">
						The modern JavaScript course for everyone! Master JavaScript with
						projects, challenges and theory. Many courses in one!
					</h3>
					<span class="colorforcon">Bestseller</span>
					<span class="colorforcon">Rating: 4.7 out of 5</span>
					<span class="colorforcon">(126,585 ratings)</span>
					<span class="colorforcon">566,482 students</span>
					<h4 class="colorforcon">Created by Jaskaran</h4>
				</div>
			</div>
			<div id="divrelative">
				<div id="divforimg"></div>
				<button id="addtocart" type="Submit">Add To Cart</button>
				<button id="buynow" type="Submit">Buy Now</button>
				<div>
					<h3 class="videos">This course includes:</h3>
					<p class="videos">69 hours videos</p>
					<p class="videos">on-demand video</p>
					<p class="videos">18 downloadable resources</p>
					<p class="videos">Full lifetime access</p>
				</div>
			</div>
		</div>
		<div id="seconddiv">
			<div id="divforcoursecontent">
				<p>
					Become an advanced, confident, and modern JavaScript developer from
					scratch
				</p>
				<p>
					Become an advanced, confident, and modern JavaScript developer from
					scratch
				</p>
				<p>
					Become an advanced, confident, and modern JavaScript developer from
					scratch
				</p>
				<p>
					Become an advanced, confident, and modern JavaScript developer from
					scratch
				</p>
				<p>
					Become an advanced, confident, and modern JavaScript developer from
					scratch
				</p>
				<p>
					Become an advanced, confident, and modern JavaScript developer from
					scratch
				</p>
				<p>
					Become an advanced, confident, and modern JavaScript developer from
					scratch
				</p>
				<p>
					Become an advanced, confident, and modern JavaScript developer from
					scratch
				</p>
			</div>
		</div>
		<div id="topcompines">
			<p>
				Top companies offer this course to their employees This course was
				selected for our collection of top-rated courses trusted by businesses
				worldwide. Learn more
			</p>
		</div>
	</body>
</html>
